/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 30px auto;
  padding: 0 10px;
  max-width: 100%;
  background-color: rgb(19, 205, 230);
  display: flex;
  justify-content: space-around;
}

/* # HEADER */

header {
}

.header-setup {
  background-color: goldenrod;
}

/* # MAIN SECTION */

.section-1 {
  height: 500px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-2 {
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 {
  height: 500px;
  background-color: rgb(137, 142, 143);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.section-4 {
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 {
  height: 700px;
  background-color: rgb(137, 142, 143);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* # CARD */

.first {
  height: 400px;
  width: 800px;
  background-color: pink;
}

.last {
  height: 600px;
  width: 1000px;
  background-color: green;
}

.card-center {
}

/* # COLUMS */

.blue-column {
  width: 600px;
  height: 400px;
  background-color: cadetblue;
}

.rose-column {
  width: 400px;
  height: 400px;
  background-color: rgb(187, 74, 143);
}

/* # FOOTER */

.end-page {
  height: 400px;
  background-color: rgb(32, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.first-card {
  width: 175px;
  height: 400px;
  background-color: cadetblue;
  border: 1px dashed white;
}

.second-card {
  width: 300px;
  height: 400px;
  background-color: rgb(187, 74, 143);
  border: 1px dashed black;
}

.end {
}
